.arabic-title {
    font-family: 'Montserrat';
    color: #2CA4AB;
    text-align: right;
}

.arabic-translation {
    text-align: right;
}

.foreign-title {
    color: #2CA4AB;
}

@font-face {
    font-family: "Uthman";
    src: url('../fonts/me_quran-webfont.ttf') format('truetype');
    /*font-family: "Uthman";*/
    /*src: url('../fonts/QCF_P001.TTF') format('truetype');*/
    /*src: url('../fonts/UthmanicHafs1 Ver09.otf');*/
    /*src: local('☺'), url('fonts/QCF_P001.TTF')  format('truetype'); */
}

.aya {
    font: 18px "Uthman", Arial;
    text-align: right;
}

@font-face {
    font-family: "amiri-quran";
    src: url('../fonts/amiri-quran.ttf') format('truetype');
}

.amiri-quran {
    font: 18px "amiri-quran", Arial;
    font-size: 100%;
    text-align: right;
}

@font-face {
    font-family: "kfc_naskh";
    src: url('../fonts/kfc_naskh-webfont.ttf') format('truetype');
}

.kfc_naskh {
    font: 18px "kfc_naskh", Arial;
    font-size: 100%;
    text-align: right;
}

@font-face {
    font-family: "me_quran";
    src: url('../fonts/me_quran-webfont.ttf') format('truetype');
}

.me_quran {
    font: 18px "me_quran", Arial;
    font-size: 100%;
    text-align: right;
}